@import url("argon.css");

.header-form {
	font-family: 'Lobster', cursive, 'Open Sans', sans-serif;
	font-size: 2rem !important;
}

.nav-link:hover {
	font-size: .875rem;
	font-weight: 500 !important;
	color: #5e72e4 !important;
}

.active a.nav-link {
	font-weight: 600 !important;
	color: #5e72e4 !important;
}

.nav-link-text {
	padding-top: .40rem !important;
}

img.img-show-all {
	opacity: 0.5 !important;
}

img.img-show-all:hover {
	opacity: 0.75 !important;
}

.font-lobster {
	font-family: 'Lobster', cursive, 'Open Sans', sans-serif;
}
